.login-page{
    position: relative;
}
.login-page .setting{
   position: absolute;
   top: 20px;
   right: 20px;
   cursor: pointer;
   font-size: 30px;
   cursor: pointer;
}
.login-page .setting-dropdown{
  position: absolute;
   top: 60px;
   right: 10px;  
   background-color: #242424; 
   color: white;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
}
.login-page .setting-dropdown-light{
  position: absolute;
   top: 60px;
   right: 10px;  
   background-color: white; 
   color: #242424;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;
}
.login-page .setting-dropdown-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .logo{
    width: 400px;
    margin-top: 120px;
}
.login-page .icon-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid black; */
    width: 450px;
    padding: 0 25px;
    margin: auto;
}
.login-page .login-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 5px auto;
    border-radius: 10px;
    cursor: pointer;

}
.login-page .login-row1 .icon{
    font-size: 25px;
    margin-right: 8px;
}
.login-page .login-row1 p{
    font-size: 15px;
}
.login-page .login-decription{
    margin: 0;
    text-align: justify; 
    width: 100%; 
}
.login-page .login-row{}

.login-footer{
    position: fixed;
    bottom: 1px;
    border-top: solid white 1px;
    width: 100%;
    padding-top: 3px;
    font-size: 12px;
}


@media (max-width: 768px) {
    .login-page .logo{
        width: 300px;
    }
   .login-page .icon-row{
    width: 300px;
   }
   .login-page .login-row{
    margin-top: 30px;
   }
    
  }